/*
#requirement-div p{
    font-size: 35px;
    color: grey;
}


#button-div{
    padding-left: 40px;
}


#btn{
    background-color: lightgreen;
    border-radius: 5%;
    height: 5vh;
    width: 8vw;
}
/*
#sub-menu-list{
    display: none;
    list-style-type: none;
    margin-top: 0px;
}

.sub-menu-button{
    background-color: lightyellow;
    border-radius: 5%;
    height: 5vh;
    width: 8vw;
}

.sub-menu-item{
    display:flex;
}

.components-list{
    padding-left: 0;
    list-style-type: none;
    display: none;
}

.component-button{
    background-color: lightyellow;
    border-radius: 5%;
    height: 5vh;
    width: 8vw;
}
*/
